<div class="container">
    <div>
        <form method="post">
            <div class"form-group">
                <label for="id" >Id:</label>
            <input class="form-control" type="number" id="id" name="id" /><br />

            </div>

            <div class="form-group">
                <label for="Name" >Name:</label>
            <input class="form-control" type="text" id="name" name="name" /><br />
            </div>

           <div class="form-group">
                <label for="Age" >Age:</label>
            <input class="form-control" type="number" id="age" name="Age" /><br />
           </div>

            <div class="form-group">
                <label for="address" >Address:</label>
            <input class="form-control" type="text" id="address" name="Address" /><br />
            </div>
            <br />
            <input type="submit" name="submit" value="submit" id="submit" />


        </form>
    </div>

</div>
<script>
    $(document).ready(function(){
        
        $("#submit").click(function(){
            var id=$("#id").val();
            var name=$("#name").val();
            var age=$("#age").val();
            var address=$("#address").val();
            mydata={"Id":id,"Name":name,"Age":age,"Address":address};
            
             $.ajax({
            type:"POST",
            url:"Student/Post",
            data:mydata,
            success:function(res){
                window.alert("Done...")

            }
        })

        });

    });
</script>